/* Estilo base */
html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  background-color: #f1f5f9;
}


* {
  box-sizing: border-box;
}

/* Opcional: Estilizado visual */
header {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 1rem;
 border-radius: 0 0 15px  15px;

}

footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 1rem;
 border-radius: 15px  15px 0 0;
}

/* Que el main crezca si hay espacio disponible */
main {
  flex: 1;
  padding: 1rem;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a{
   text-decoration: none;
}

img {
  vertical-align: middle; 
}

strong{
  margin-left: 15px;
}

/* ----------- barra nav izq hamburguesa y derecha dia y hora----------- */

.nav-container {
  display: flex;
  justify-content: space-between; /* Separar izquierda y derecha */
  align-items: center;
  width: 100%;
  padding: 0 1rem;
  position: relative; /* Necesario si usas absolute en hijos */
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem; /* Espacio entre hamburger y navegación */
}

.nav-right {
  display: flex;
  align-items: center;
}



/* ----------- Estilo Hamburguesa ----------- */
.hamburger {
  padding: 10px 20px;
  cursor: pointer;
  display: block; /* visible en móvil */
  position: absolute;
  top: 10px;
  z-index: 1000;
}

.hamburger .line {
  display: block;
  width: 35px;
  height: 4px;
  margin-bottom: 8px;
  background-color: #ff9776;
  transition: all 0.3s ease;
}

/* ----------- Menú desplegable (móvil) ----------- */
.nav-links {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  background-color: #ff9776;
  border-top: 2px solid white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: max-height 0.5s ease-in-out;
  z-index: 999;
}

/* Al hacer click en hamburguesa */
.nav-links.expanded {
  max-height: 300px; /* ajustar según contenido */
}

/* Enlaces */
.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  transition: background 0.3s ease;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #e56c4c;
  border-radius: 15px;
}

/* ----------- Menú escritorio ----------- */
@media screen and (min-width: 636px) {
  nav {
    position: static;
  }

  .hamburger {
    display: none; /* ocultar hamburguesa en escritorio */
  }

  .nav-links {
    position: static;
    max-height: none !important;
    display: flex;
    justify-content: center;
    background: none;
    box-shadow: none;
    border: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
    /* color: #333; */
  }
}
