---
import DiaYHora from "../components/DiaYHora.jsx";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";
const pageTitle = "Mi Blog";
---

<head>
  <meta charset="utf-8" />
  <title>{pageTitle}</title>
  <meta name="description" content="Temario completo del curso Astro" />

  <style>
    main {
      margin: 24px;
      margin-top: 32px;
    }
    p {
      font-family: Arial, sans-serif;
      font-size: 18px;
    }
    h1 {
      font-size: 24px;
      margin-bottom: 16px;
    }

    ol {
      margin-left: 20px;
    }

    li {
      margin-bottom: 6px;
      font-family: Arial, sans-serif;
      font-size: 18px;
    }

    ol ol {
      list-style-type: lower-alpha;
      margin-top: 8px;
      margin-left: 20px;
    }
  </style>
</head>

<DiaYHora client:load />
<!-- Aquí activas el componente en el cliente -->
<Navigation />
<main>
  <h1>{pageTitle}</h1>
  <p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro:</p>
  <ul>
    <li><a href="/posts/post-1/">Publicación 1</a></li>
    <li><a href="/posts/post-2/">Publicación 2</a></li>
    <li><a href="/posts/post-3/">Publicación 3</a></li>
  </ul>
</main>
