---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tutorial Astro</title>
  </head>
  <body>
    <a href="/">🏠 Inicio</a>
    <a href="/blog/">Blog</a>
    <a href="/about/">Sobre mi</a>
    <h1>Mi blog de aprendizaje sobre Astro</h1>
    <p>
      Aquí es donde publicaré acerca de mi viaje aprendiendo Astro./p>
      <ul>
        <li><a href="/posts/post-1/">Publicación 1</a></li>
      </ul>
    </p>
  </body>
</html>
