---
import DiaYHora from "./components/DiaYHora.jsx";
import Navbar from "./components/Navbar.astro";
---

<head>
  <meta charset="utf-8" />
  <title>Tutorial Astro</title>
  <meta name="description" content="Temario completo del curso Astro" />
</head>
<body>
  <DiaYHora client:load />
  <!-- Aquí activas el componente en el cliente -->
  <Navbar />
  <h1>Mi blog de aprendizaje sobre Astro</h1>
  <p>Aquí es donde publicaré acerca de mi viaje aprendiendo Astro</p>
  <ul>
    <li><a href="/posts/post-1/">Publicación 1</a></li>
    <li><a href="/posts/post-2/">Publicación 2</a></li>
    <li><a href="/posts/post-3/">Publicación 3</a></li>
  </ul>
</body>

<style>
  main {
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #333;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }

  ol {
    margin-left: 20px;
  }

  li {
    margin-bottom: 6px;
  }

  ol ol {
    list-style-type: lower-alpha;
    margin-top: 8px;
    margin-left: 20px;
  }
</style>
