---
import DiaYHora from "./components/DiaYHora.jsx";
import Navbar from "./components/Navbar.astro";
const pageTitle = "Tutorial Astro";
---

<!-- Head personalizado -->
<head>
  <meta charset="utf-8" />
  <title>{pageTitle}</title>
  <meta name="description" content="Temario completo del curso Astro" />

  <style>
    main {
      font-family: Arial, sans-serif;
      padding: 20px;
      color: #333;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 16px;
    }
    h2 {
      font-size: 20px;
      margin-bottom: 16px;
    }

    ol {
      margin-left: 20px;
    }

    li {
      margin-bottom: 6px;
    }

    ol ol {
      list-style-type: lower-alpha;
      margin-top: 8px;
      margin-left: 20px;
    }

    ol > li + li {
      margin-top: 24px; /* separa las unidades entre sí */
    }
  </style>
</head>

<!-- Contenido de la página -->
<DiaYHora client:load />
<Navbar />

<main>
  <h1>{pageTitle}</h1>
  <h2>Temario del Curso</h2>
  <ol>
    <li>
      <strong>Unidad 1 - Configuración</strong>
      <ol>
        <li>✅Prepara tu entorno de desarrollo</li>
        <li>✅Crea tu primer proyecto en Astro</li>
        <li>✅Escribe tu primera línea de Astro</li>
        <li>✅Almacena tu repositorio en línea</li>
        <li>✅Despliega tu sitio en la web</li>
      </ol>
    </li>
    <li>
      <strong>Unidad 2 - Paginas</strong>
      <ol>
        <li>✅Crea tu primera página Astro</li>
        <li>✅Escribe tu primera publicación en Markdown</li>
        <li>
          <p>✅Añade contenido dinámico sobre ti:</p>
          <ol>
            <li>✅Define y utiliza una variable</li>
            <li>✅Escribe expresiones JavaScript en Astro</li>
            <li>✅Renderización condicional de elementos</li>
            <li>✅Checklist</li>
          </ol>
        </li>
        <li>✅Estiliza tu página 'Acerca de'</li>
        <li>Añadir estilo a todo el sitio</li>
      </ol>
    </li>
  </ol>
</main>
