---
import MainLayout from "../layouts/MainLayout.astro";
const pageTitle = "Página";
---

<MainLayout pageTitle={pageTitle}>
  <h2>Temario del Curso</h2>
  <main>
    <ol>
      <li>
        <strong>Unidad 1 - Configuración</strong>
        <ol>
          <li>✅Prepara tu entorno de desarrollo</li>
          <li>✅Crea tu primer proyecto en Astro</li>
          <li>✅Escribe tu primera línea de Astro</li>
          <li>✅Almacena tu repositorio en línea</li>
          <li>✅Despliega tu sitio en la web</li>
        </ol>
      </li>

      <li>
        <strong>Unidad 2 - Paginas</strong>
        <ol>
          <li>✅Crea tu primera página Astro</li>
          <li>✅Escribe tu primera publicación en Markdown</li>
          <li>✅Añade contenido dinámico sobre ti</li>
          <li>✅Estiliza tu página 'Acerca de'</li>
          <li>✅Añadir estilo a todo el sitio</li>
        </ol>
      </li>

      <li>
        <strong>Unidad 3 - Componentes </strong>
        <ol>
          <li>✅Crea un componente de navegación reutilizable</li>
          <li>✅Crea un pie de página para redes sociales</li>
          <li>✅Constrúyelo tu mismo - Encabezado</li>
          <li>✅Envía tu primer script al navegador</li>
        </ol>
      </li>

      <li>
        <strong> Unidad 4 - Plantillas </strong>
        <ol>
          <li>✅Construye tu primer plantilla</li>
          <li>Crea y pasa datos a una plantilla de blog personalizada</li>
          <li>Combina plantillas para obtener lo mejor de ambos mundos</li>
        </ol>
      </li>
    </ol>
  </main>
</MainLayout>
