---
const platform = "github";
const username = "AleSrv";
import Social from "./Social.astro";
const year = new Date().getFullYear();
---

<footer>
  <p>
    Sígueme en:
    <Social platform="Instagram" username="alepapitosrv" />
    <Social platform="github" username="AleSrv" />
    <Social platform="youtube" username="@alef9753" />
  </p>
  <div >
    © {year} Alex Dev. Todos los derechos reservados.
  </div>
</footer>


