---
import DiaYHora from "./DiaYHora";
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import ToggleTheme from "./ToggleTheme.astro";
---


<header>
  <nav class="nav-container">
    <div class="nav-left">
      <Hamburger />
      <Navigation />
    </div>

    <div class="nav-right">
      <ToggleTheme/>
      <DiaYHora client:load />
    </div>
  </nav>
</header>
