---
import DiaYHora from "./DiaYHora";
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
  <nav>
    <DiaYHora client:load />
    <Hamburger />
    <Navigation />
  </nav>
</header>
