---

---

<a href="/">🏠 Inicio</a>
<a href="/blog/">Blog</a>
<a href="/about/">Sobre mí</a>

<style>
  a {
    font-family: Arial, sans-serif;
    padding: 8px;
    color: #333;
    text-decoration: none;
  }
  a:hover {
    color: orangered;
    font-weight: bold;
  }
</style>
