---

---

<a href="/">🏠 INICIO</a>
<a href="/blog/">BLOG</a>
<a href="/about/">SOBRE MI</a>

<style>
  a {
    font-family: Arial, sans-serif;
    font-weight: 600;
    padding: 8px;
    text-decoration: none;
    text-decoration-style: solid;
  }
  a:hover {
    color: orangered;
    font-weight: bold;
    background-color: rgb(87, 85, 85);
    border-radius: 5px;
  }
</style>
