---
interface Props {
  tags: string[];
}
const { tags } = Astro.props as Props;
---

<div style="margin-bottom: 1rem;">
  {
    tags.map((tag) => (
      <a
        href={`/tags/${tag.toLowerCase()}`} >
        <span>#️⃣{tag}</span>
      </a>
    ))
  }
</div>
