---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MainFrontmatter from "../components/MainFrontmatter.astro";
import "../styles/global.css";

const { frontmatter } = Astro.props;
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Header />
    <main>
      <MainFrontmatter frontmatter={frontmatter}>
        <slot />
      </MainFrontmatter>
    </main>
    <Footer />
    <script src="/scripts/menu.js" defer></script>
  </body>
</html>
